.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #006b09;
  color: white;
  padding: 1rem;
  border-bottom: 4px solid #07b148;
}

.header-title {
  font-weight: bold;
  margin: 0;
}
